* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    width: 960px;
    height: 960px;
    justify-content: center;  /* Centre la grille */
    align-items: center;
}

#grid {
    display: flex;
    flex-wrap: wrap;  /* Permet aux cases de passer à la ligne après 16 éléments */
    width: 400px;
    height: 400px;
}

.square {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    box-sizing: border-box;
}
